/* Custom Text Strokes */
.text-stroke-lime {
    -webkit-text-stroke: 1px #D2F865;
    color: transparent;
}
.text-stroke-black {
    -webkit-text-stroke: 1px #000000;
    color: transparent;
}

/* Marquee Animation */
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-20%); }
}
.animate-marquee {
    animation: marquee 64s linear infinite;
}

/* Marquee Text Styles */
span.SflwFl.tCj5mo.wixui-text-marquee__text {
    font-family: 'azeret-mono-v2', 'Azeret Mono', monospace;
    font-size: 17.1224px;
    line-height: 20.5469px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: start;
}

/* Navigation Links */
.nav-link-style {
    font-family: 'azeret-mono-v2', 'Azeret Mono', monospace;
    font-size: 17.1224px;
    line-height: 20.5469px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-style: normal;
}

/* Spin Animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.animate-spin-slow {
    animation: spin 3s linear infinite;
}

/* Selection Color */
::selection {
    background-color: #D2F865;
    color: black;
}

/* Global Paragraph Styles */
p {
    font-family: 'azeret-mono-v2', 'Azeret Mono', monospace;
    font-size: 15.7125px;
    line-height: 25.14px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-style: normal;
}
.bg-background-dark p {
    color: rgb(255, 255, 255);
}
.bg-primary p {
    color: rgb(0, 0, 0);
}

/* Link styles for content */
.content-link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.bg-background-dark .content-link {
    color: #D2F865;
}
.bg-primary .content-link {
    color: #000000;
}
